# Python bytecode / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Large model artifacts (Optional: remove this line if you WANT your .pkl files on GitHub)
# *.pkl

# OS specific files
.DS_Store
Thumbs.db

# Streamlit config/cache
.streamlit/